
h1{
  margin: 0 auto;
  color:blue;
}

main .right{
  float:right;
  clear: both;
  display: inline-block;
  border-style: solid;
  border-radius: 10px;
  background-color: grey;
  width: 400px;
  height: 350px;
}

main .left{
  float:left;
  clear: both;
  display: inline-block;
  border-style: solid;
  border-radius: 10px;
  background-color: blue;
  width: 400px;
  height: 350px;
}
main .right{
  float:right;
  clear: both;
  display: inline-block;
  border-style: solid;
  border-radius: 10px;
  background-color: green;
  width: 400px;
  height: 350px;
}
main .left{
  float: left;
  clear: both;
  display: inline-block;
  border-style: solid;
  border-radius: 10px;
  background-color: purple;
  width: 400px;
  height: 350px;
}
/* BREAK HERE. Here comes the second variation


main .first .left{
  float:left;
  clear: both;
  display: inline-block;
  border-style: solid;
  border-radius: 10px;
  background-color: grey;
  width: 400px;
  height: 350px;
}

main .second .left{
  float:right;
  clear: both;
  display: inline-block;
  border-style: solid;
  border-radius: 10px;
  background-color: blue;
  width: 400px;
  height: 350px;
}
main .third .left{
  float:left;
  clear: both;
  display: inline-block;
  border-style: solid;
  border-radius: 10px;
  background-color: green;
  width: 400px;
  height: 350px;
}
main .fourth .left {
  float: right;
  clear: both;
  display: inline-block;
  border-style: solid;
  border-radius: 10px;
  background-color: purple;
  width: 400px;
  height: 350px;
}
*/