
h1{
  margin: 0 auto;
  color:blue;
}
.separator{
  height: 1200px;
  width: 1%;
  background-color: grey;
  margin: 10px auto;



}

main .first{
  position: absolute;
  top: 500px;
  display: inline-block;
  border-style: solid;
  border-radius: 10px;
  background-color: grey;
  width: 400px;
  height: 350px;
}

main .second{
  float: right;
  margin: auto;
  display: inline-block;
  border-style: solid;
  border-radius: 10px;
  background-color: grey;
  width: 400px;
  height: 350px;
}
main .third{
  position: absolute;
  top: 500px;
  display: inline-block;
  border-style: solid;
  border-radius: 10px;
  background-color: grey;
  width: 400px;
  height: 350px;
}
main .fourth{
  position: relative;
  left: 70%;
  top: -550px;
  right: 0px;
  bottom: 400px;
  left: 65%;
  display: inline-block;
  border-style: solid;
  border-radius: 10px;
  background-color: grey;
  width: 400px;
  height: 350px;
}
