img{

}
h1{
  display: inline-block;
  padding-left: 500px;
  color:blue;
}
h2{
  display: inline-block;
  padding-left: 580px;

}
main .right{
  float:right;
  clear: both;
  display: inline-block;
  border-style: solid;
  border-radius: 10px;
  background-color: grey;
  width: 400px;
  height: 350px;

}
/*
                      What I was trying to do was emulate the way that the code will render in the browser, but I can't figure out
                      how to make the selectors able to change in python.
 */


main .left{
  float:left;
  clear: both;
  display: inline-block;
  border-style: solid;
  border-radius: 10px;
  background-color: blue;
  width: 400px;
  height: 350px;
}
main .right{
  float:right;
  clear: both;
  display: inline-block;
  border-style: solid;
  border-radius: 10px;
  background-color: green;
  width: 400px;
  height: 350px;
}
main .left{
  float: left;
  clear: both;
  display: inline-block;
  border-style: solid;
  border-radius: 10px;
  background-color: purple;
  width: 400px;
  height: 350px;
}
/* BREAK HERE. the second variation


main .first .left{
  float:left;
  clear: both;
  display: inline-block;
  border-style: solid;
  border-radius: 10px;
  background-color: grey;
  width: 400px;
  height: 350px;
}

main .second .left{
  float:right;
  clear: both;
  display: inline-block;
  border-style: solid;
  border-radius: 10px;
  background-color: blue;
  width: 400px;
  height: 350px;
}
main .third .left{
  float:left;
  clear: both;
  display: inline-block;
  border-style: solid;
  border-radius: 10px;
  background-color: green;
  width: 400px;
  height: 350px;
}
main .fourth .left {
  float: right;
  clear: both;
  display: inline-block;
  border-style: solid;
  border-radius: 10px;
  background-color: purple;
  width: 400px;
  height: 350px;
}
*/